﻿
<section class="mainbar" data-ng-controller="attendees as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="form-search">
                    <div class="btn-group pull-right">
                        <a class="btn btn-info"
                           data-ng-click="vm.refresh()"><i class="icon-refresh"></i><span>Refresh</span></a>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="widget wgreen">
                    <div data-cc-widget-header title="{{vm.title}}"
                         subtitle="{{vm.attendees.length}}"></div>
                    <div class="widget-content user">
                        <div class="padd list-flow" data-ng-repeat="a in vm.attendees">

                            <div class="user">
                                <img data-cc-img-person="{{a.imageSource}}"
                                     class="img-polaroid stacked" />
                                <div class="name-stack">
                                    <h5>{{a.firstName}}</h5>
                                    <h5>{{a.lastName}}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
